@charset "UTF-8";
body {
    font-family: Arial;
    background-color: black;
}
h1 {
    color: red;
}
p {
    color:antiquewhite;
}
h2 {
    color:grey;
}
img {
    width: 600px;
    height: 330px;
}